<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>TOM report</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel='stylesheet' type='text/css' media='screen' href='tom.css'>

  <script src='main.js'></script>
</head>
<body>
<div class="container">
  <div class="row">
    <h1>Welcome to TOM</h1>
  </div>
  <div class="row">
    <p>Here are some stats for the repo: <strong><%= @repo_name %></strong></p>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-header">
        Pushes history
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <tr>
              <th>Date</th>
              <th>Open issues</th>
              <th>Size</th>
              <th>language</th>
              <th>Commits count</th>
              <th>Total files added</th>
              <th>Total files removed</th>
              <th>Total files changed</th>
              <th>Status</th>
            </tr>
            <% @push_info.each do |push| %>
              <tr>
                <td><%= push.created_at.strftime("%F %H:%M") %></td>
                <td><%= push.open_issues_count %></td>
                <td><%= push.size %></td>
                <td><%= push.language %></td>
                <td><%= push.commits_count %></td>
                <td><%= push.total_files_added %></td>
                <td><%= push.total_files_removed %></td>
                <td><%= push.total_files_changed %></td>
                <td><%= @status_label[push.status] %></td>
              </tr>
            <% end %>

          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-header">
        Metrics history
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
</body>
</html>

