<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tom Dashboard</title>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css"/>
  <link rel="canonical" href="https://picturepan2.github.io/spectre/experimentals/filters.html">
  <style>
      h1, h2 {
          color: black;
          font-weight: 700;
          margin: 1em;
      }

      h1 {
          font-size: 4em;
          line-height: .9em;
      }

      h2 {
          font-size: 2.2em;
          line-height: .9em;
      }

      h3 {
          color: white;
          margin: 1em;
          font-weight: 700;
          font-size: 1.6em;
          line-height: .9em;
      }

      h4 {
          color: whitesmoke;
          margin: 2em;
          font-weight: 700;
          font-size: 1em;
      }

      h5 {
          color: darkgrey;
          margin: 1em;
          font-weight: 700;
          font-size: .8em;
      }

      .tom {
          background-color: #12131c;
      }

      .overview {
          background-color: #f8f8f8;
      }

      .wrapper1 {
          display: grid;
          grid-template-columns: repeat(2, 280px);
          column-gap: 30px;
          row-gap: 30px;
          margin: 2em;
      }
  </style>
</head>
<body>
<div class="container">
  <div style="min-height: 100vh" class="columns">
    <div class="tom">
      <div class="">
        <h3>Tom Dashboard</h3>
        <ul class="nav">
          <% if @logged %>
            <li class="nav-item"><a href="https://github.com/<%= @username %>"><%= @username %></a></li>
          <% else %>
            <li class="nav-item">
              <a href="https://github.com/login/oauth/authorize?client_id=a23e149d49c465f29468">Authorize via GitHub</a>
            </li>
          <% end %>
          <li class="nav-item active"><a href="#">Overview</a></li>
          <li class="nav-item"><a href="#">Growth</a></li>
          <li class="nav-item"><a href="#">Reports</a></li>
          <li class="nav-item"><a href="#">About</a></li>
          <li class="nav-item"><a href="#">Support</a></li>
        </ul>
      </div>
    </div>
    <div class="overview">
      <div class="column col-3">
        <h2>Overview</h2>
        <div class="wrapper1">
          <div class="card">
            <div class="card-header">
              <div class="card-title h1"><%= @commit_metrics %></div>
              <div class="card-subtitle text-gray">Total Commits Analysed</div>
            </div>
            <div class="card-body">
              The identified anomalies and CAPAS will be generated through the information that we can obtain through
              the github api.
            </div>
            <div class="card-footer">
              <div class="bar bar-sm">
                <div class="bar-item" role="progressbar" style="width:80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <div class="card-title h1"><%= @repos_metrics %></div>
              <div class="card-subtitle text-gray">Total Repos Analysed</div>
            </div>
            <div class="card-body">
              TOM has the history of the metrics collected from each yours repository individually.
            </div>
            <div class="card-footer">
              <div class="bar bar-sm">
                <div class="bar-item" role="progressbar" style="width:40%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <div class="card-title h1"><%= @issues_metrics %></div>
              <div class="card-subtitle text-gray">Total Issues proceeded</div>
            </div>
            <div class="card-body">
              Once TOM has generated the list of CAPAs for your repository, a bot will create an issue within your
              repository, indicating each of the anomalies that were identified and the actions to take in
              consideration.
            </div>
            <div class="card-footer">
              <div class="bar bar-sm">
                <div class="bar-item" role="progressbar" style="width:70%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <div class="card-title h1"><%= @capas_predicted.length %></div>
              <div class="card-subtitle text-gray">Total Capas Predicted</div>
            </div>
            <div class="card-body">
              A component based on ML is in charge of processing this data in order to identify a list of possible
              anomalies, on which the list of LAYERS that best suit the particular case.
            </div>
            <div class="card-footer">
              <div class="bar bar-sm">
                <div class="bar-item" role="progressbar" style="width:25%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- .column .col-3 -->
    </div>
    <!-- RIGHT COLUMN -->
    <div class="column">
      <h2>Pushes History</h2>
      <div style="margin: 2em" class="card">
        <div class="card-header">
          <div class="card-title text-bold"> 
            <figure class="avatar avatar-xl" data-initial="0" style="background-color: #5755d9;">
              <img src="<%= "logo-256.png" %>" alt="">
            </figure>
            0capa-bot Beta
          </div>
          <div class="card-body">TOM (stands for Theoretically Objective Measurements of Software Development Projects)
            is a set of services that are in charge of helping developers or teams in the process of identifying
            anomilies within their software development process, and providing a list of preventive or corrective
            actions (aka CAPAS) that positively impact the process. and in this way to improve the quality of the final
            product and its development process.
          </div>
        </div>
      </div>
      <h2>Capas Histogram</h2>
      <div style="margin: 2em" class="card">
        <div class="card-body">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Analysis Id</th>
              <th>Repository</th>
              <th>Created at</th>
              <th>Updated at</th>
              <th>Label</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <% @capas_predicted.each do |capa| %>
              <tr class onclick="document.location.hash='modal-id-<%= capa.analysis_id %>'">
                <td><%= capa.analysis_id %></td>
                <td><%= capa.repo_fullname %></td>
                <td><%= capa.created_at.strftime("%F %H:%M") %></td>
                <td><%= capa.updated_at.strftime("%F %H:%M") %></td>
                <td><%= capa.label %></td>
                <td><%= capa.status %></td>
              </tr>
              <div class="modal" id="modal-id-<%= capa.analysis_id %>">
                <a href="#close" class="modal-overlay" aria-label="Close"></a>
                <div class="modal-container">
                  <div class="modal-header">
                    <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
                    <div class="modal-title h5"><%= capa.repo_fullname %></div>
                  </div>
                  <div class="modal-body">
                    <div class="content">
                      и тута будет инфа о капе
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <h2>Projects</h2>
      <div style="margin: 2em" class="card">
        <div class="card-body">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>is Active</th>
              <th>Created at</th>
              <th>is Private</th>
            </tr>
            </thead>
            <tbody>
            <% @project_list.each do |project| %>
              <tr class onclick="document.location.href='<%= project.repo_url %>'">
                <td><%= project.id %></td>
                <td><%= project.name %></td>
                <td><%= project.isactive %></td>
                <td><%= project.created_at.strftime("%F %H:%M") %></td>
                <td><%= project.is_private %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
</body>